<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/error.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="Wrapper">
      <div class="left">Error</div>
      <div class="right">Error</div>

      <canvas id="five" width="550" height="200"></canvas>
    </div>

    <a href="/"><h1>Home Page</h1></a>
    <p>It's always time for a coffee break.</p>

    <span class="status"><%= status %> </span>
    <script src="/js/error.js"></script>
  </body>
</html>
